<% if logged_in? %>
  <div class="row">
    <aside class="col-md-3">
      <section class="user_info">
      	<%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </aside>
    <div class="col-md-6">
      <section class="note_form">
        <%= render 'shared/note_form' %>
      </section>
      <h3>Notes Feed</h3>
      <%= render 'shared/feed' %>
    </div>
    <div class="col-md-3"></div>
  </div>
<% end %>
<script type="text/javascript">
  $('.reply').click(function() {
    var $comment_form = $(this).parents('li').find('.comment_form')
    if ($comment_form.hasClass('hidden')) {
      $comment_form.removeClass('hidden');
    } else {
      $comment_form.addClass('hidden');
    }
  });
</script>