@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$blue: #1E88E5;
$pink: #F48FB1;

@mixin box_sizing {
	-moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
}

/* universal */

body {
	padding-top: 50px;
	background-color: #FAFAFA;
	font-family: Georgia, 'Hiragino Mincho ProN', 'Yu Mincho', serif;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
	margin-bottom: 10px;
    }
}

.hidden {
	display: none;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $gray-light;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

/* header */

.jumbotron {
	background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, .05) ), url(night-sky-523892_1920.jpg);
	background-size: cover;
	background-position: 50% 50%;
	padding-top: 150px;
	padding-bottom: 150px;
	color: white;
	h1 {
		font-size: 70px;
		font-family: Georgia, 'Hiragino Mincho ProN', 'Yu Mincho', serif;
	}
	h2 {
		font-size: 25px;
		color: white;
		margin-bottom: 120px;
	}
}

.navbar {
	background-color: white;
	border: 1px solid #CFD8DC;
	.nav li a:hover {
		color: black;
	}
}

#logo {
	float: left;
	margin-right: 10px;
  font-size: 1.7em;
	color: #A5D6A7;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	&:hover {
		color: #81C784;
		text-decoration: none;
	}
}

/* footer */

.new_note {
	padding-top: 20px;
}

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: $gray-light;
	a {
		color: $gray;
		&:hover {
			color: $gray-darker;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 15px;
		}
	}
}

/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box-sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 10px;
	@include box_sizing;
}

input {
	height: auto !important;
}

.error_explanation {
    color: red;
    ul {
        color: red;
        margin: 0 0 30px 0;
    }
}

.field_with_errors {
    @extend .has-error;
    .form-control {
        color: $state-danger-text;
    }
}

.checkbox {
	margin-top: -10px;
	margin-bottom: 10px;
	span {
		margin-left: 20px;
		font-weight: normal;
	}
}

#session_remember_me {
	width: auto;
	margin-left: 0;
}

/* sidebar */

aside {
	section.user_info {
		margin-top: 20px;
	}
	section {
		padding: 10px 0;
		margin-top: 20px;
		&:first-child {
			border: 0;
			padding-top: 0;
		}
		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
		h1 {
			font-size: 1.4em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
			margin-top: 0px;
		}
	}
}

.user-image {
	float: left;
	margin-right: 15px;
	height: auto;
}

.stats {
	overflow: auto;
	margin-top: 0;
	padding: 0;
	a {
		float: left;
		padding: 0 10px;
		border-left: 1px solid $gray-lighter;
		color: gray;
		&:first-child {
			padding-left: 0;
			border: 0;
			display: block;
		}
		&:hover {
			text-decoration: none;
			color: $blue;
		}
	}
	strong {
		display: block;
	}
}

.user_avatars {
	overflow: auto;
	margin-top: 10px;
	.user-image {
		margin: 1px 1px;
	}
	a {
		padding: 0px;
		border: none;
	}
}

.users.follow {
	padding: 0;
}

/* Users index */

.users {
  list-style: none;
	margin: 0;
	li {
		overflow: auto;
		padding: 10px 0;
		border-bottom: 1px solid $gray-lighter;
	}
}

/* notes */

.notes {
	list-style: none;
	padding: 0;
	li {
		padding: 10px 0;
		border-top: 1px solid #e8e8e8;
		a {
			font-weight: bold;
			color: black;
		}
	}
	.user {
		margin-top: 5em;
		padding-top: 0;
	}
	.like {
		margin-top: 0;
		padding: 0;
		a {
			padding-left: 4px;
		  border-left: 2px solid #e8e8e8;
		  color: gray;
		  font-weight: normal;
		  &:hover {
			text-decoration: none;
			color: $pink;
		  }
		}
		.like-color {
			color: $pink;
		}
	}
	.content {
		display: block;
		margin-left: 60px;
		img {
			display: block;
			padding: 5px 0;
		}
	}
	.timestamp {
		color: $gray-light;
		display: block;
		margin-left: 60px;
		div {
			display: inline-block;
			padding-left: 8px;
			border-left: 1px solid #eaeaea;
			cursor: pointer;
		}
	}
	.user-image {
		float: left;
		margin-right: 10px;
		margin-top: 5px;
	}
	.comment {
		display: block;
		width: 90%;
		margin-left: auto;
		margin-top: 10px;
		.comments {
			list-style: none;
			padding: 0;
			li {
				border: none;
			}
		}
		.comment_form {
			.field {
				margin: 0;
				textarea {
					margin-bottom: 5px;
				}
			}
		}
		.user-image {
			float: left;
			margin-right: 20px;
		}
	}
}

aside {
	textarea {
		height: 100px;
		margin-bottom: 5px;
	}
}

span.picture {
	margin-top: 10px;
	input {
		border: 0;
	}
}












