<footer class="footer">
  <small>
    Good morning and good night..  by Yuma Kawaguchi
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>  
</footer>